.flip-card {
    background-color: transparent;
    width: 120px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
}

.flip-animation {
    z-index: 1;
    animation: flipAnimation 1.5s ease-in-out forwards;
}

@keyframes flipAnimation {
    0% {
        transform: rotateY(0deg) scale(1);
    }
    30% {
        transform: rotateY(180deg) scale(1.7);
    }

    70%{
        transform: rotateY(180deg) scale(1.7);
    }

    100% {
        transform: translate(200px,-200px) rotateY(180deg) scale(1) rotate(-6deg);
    }
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.flip-card-back {
    transform: rotateY(180deg);
}